body {
    background-color:azure;
}
.container {
    margin: 5px auto;
    max-width: 800px;
    padding: 300px;
}
.contstyle {
    border: 2px solid rgba(127,162,168,0.99);
    width: 750px;
    height: 300px;
    box-shadow: rgba(22,23,32,0.80) 5px 5px 5px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 7px ;
    background-color: rgba(143,168,158,0.20);
}
.contstyle button {
   font-size: 2em;
    color: rgba(29,35,61,0.99);
    border: 2px solid black;
    border-radius: 9px;
    box-shadow: 3px 3px 3px rgba(27,29,32,0.99);

}
.contstyle #btn1 {
    position: relative;
    top: 50px;
    left: -100px;
}
.contstyle #btn2 {
    position: relative;
    top: 50px;
    left: 100px;
}

